h1 {
    font-size: 8rem;
    text-decoration: solid;
    color: lightsalmon;
    font-family: 'Courier New', Courier, monospace;
    margin: 50px auto 10px auto;
    line-height: 2;
}

h2 {
    font-size: 5rem;
    text-decoration: solid;
    color: lightsalmon;
    font-family: 'Courier New', Courier, monospace;
    margin: 50px auto 10px auto;
    line-height: 2;
}

h3 {
    font-size: 2.2rem;
    color: lightsalmon;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px auto 10px auto;
    font-weight: bolder;
}

h3.left {
    clear: left;
}

h3.right {
    clear: right;
}

body {
    background-color: teal;
    margin: auto auto auto auto;
    font-family: 'Courier New', Courier, monospace;
}

.underline {
    text-decoration: underline;
}

hr.dots {
    width: 10%;
    border-style: dotted none none;
    border-width: 24px;
    color: salmon;
}

hr.grass {
    border-color: #7CB74C;
    height: 2%;
    border: solid;
}

.top-container {
    height: 5%; 
    background-color: lightcoral;
    font-size: 0.8rem;
    padding-left: 1.5%;
    position: relative;
}

.scenery-container {
    background-color: teal;
    text-align: center;
    background-color: teal;
    position: relative;
}

.content-container {
    background-color: beige;
    text-align: center;
    position: relative;
    padding-bottom: 40px;
}

.footer-container {
    padding: 26px 0 5px;
    text-align: center;
    width: 60%;
    margin: auto auto auto auto;
    position: relative;
    background-color: teal;
}

table.center {
     margin-left:auto; margin-right:auto;
}

.cloud-bottom-left {
    width: 80px; transform:  scaleX(-1); position: absolute; left: 42%; bottom: 33%
}

.cloud-top-left {
    width: 210px; transform:  scaleX(-1); position: absolute; left: 32%; right: 62%; bottom:40%;
}

.cloud-top-right {
    width: 110px; position: absolute; right: 35%; left: 58%; bottom: 48%;
}

.profile {
    margin: 100px auto 100px auto;
    position: relative;
    width: 50%;
    line-height: 2;
}

.skills {
    position: relative;
    
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.hobbies {
    position: relative;
}

.hobby-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

img.profile {
    margin-top: 50px;
}

img.right {
    width: 14rem;
    float: right;
    margin-left: 30px;
}

img.left {
    width: 14rem;
    float: left;
    margin-right: 30px;
}

p {
    color: teal;
    text-decoration: solid;
    font-weight: bold;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

p.left {
    clear: left;
}

p.right {
    clear: right;
}

p.contact {
    color: salmon;
    font-weight: bolder;
    text-align: center;
}

p.copyright {
    color: salmon;
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
}

.fancy {
    font-weight: bolder;    
}

.email {
    color: salmon;
    font-weight: bold;
    font-size: 50px;
    margin-right: 30px;
}

.contact-me {
    width: 75%;
    margin-left: auto; margin-right: auto;
}


.footer-link:hover {
    color: beige;
}

.footer-link {
    color: salmon;
    font-weight: bold;
    font-size: 34px;
    margin-right: 30px;
    font-style: 'Montserrat', sans-serif;
}

.ContactMe {
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#fc8d83;
	border-radius:16px;
	border:3px solid lightsalmon;
	display:inline-block;
	cursor:pointer;
	color: beige;
	font-family: 'Mont-Serrat', sans-serif;
	font-size:2rem;
	font-weight:bold;
	padding:17px 51px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.ContactMe:hover {
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	background-color:#e4685d;
}
.ContactMe:active {
	position:relative;
	top:1px;
}